:root {
  --primary-color: #2b4eff;
  --color-dark: #3d4349;
  --color-ash: #f1f1f1;
  --color-light-purple: #edeef3;
  --color-dark-blue: #0e1133;
  --color-muted: #9c9faa;
}

* {
  font-family: "Hind", sans-serif;
}

li {
  list-style: none;
}

.primary-color {
  color: var(--primary-color);
}

.color-dark {
  color: var(--color-dark) !important;
}

nav ul li {
  margin: 0 20px;
  transition: 0.3s ease all;
  color: var(--color-dark) !important;
}

nav ul li:hover {
  color: var(--primary-color);
}

.nav-link {
  text-decoration: none;
}

input,
textarea {
  background-color: var(--color-ash);
  padding: 10px 20px;
  border-radius: 5px !important;
}

.nav-input {
  margin-right: 20px !important;
}

textarea,
input,
input:hover,
input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px !important;
}

.button-blue {
  background-color: var(--primary-color);
  color: white;
}

.card-image-container {
  height: 250px;
  overflow: hidden;
}

.card-image {
  min-height: 100%;
  min-width: 100%;
}
